

/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rock+Salt&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #219EBC   ;
  --secondary-color: #8ECAE6 ;
  --accent1-color: #023047;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Rock Salt";
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #023047;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #8ECAE6;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 22px;
  text-align: center;
  background-color: #fcfbfb;
  font-family: 'Roboto';
}
img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Bradley Hand', sans-serif;
  color: var(--Verdana);
}
.home-title {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
  color:blue;
}
.msg {
  background-color: #6f7364;
  line-height: 1em;
  margin-top: 50px;
  height: 250px;
}
.p {
  text-align:justify;
  line-height: 1em;
  margin-bottom: 25px;
}
h2 {
  text-align: center;
  line-height: 1em;
  margin: 0;
  padding-top: 20px;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 50px;
  font-family: sans-serif;
}
.h4 {
  font-family: 'Rock Salt';
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: .1em;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: sans-serif;
  font-size: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 10px;
  text-align:inherit ;
  font-size: 1em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  text-decoration: none;
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
  font-family: Roboto;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #4b24e8;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #9398c2;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #3c6cb0;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
#content{
    max-width: 1600px;
    text-align: center;
}
.social{
    width: 20%;
    display:inline-flex
}
.icon{
    width: 40px;
}
.logo{
    width: 50px;
    position: absolute;
}
.card-img{
    width: 30%;
}
.hero-img{
    width: 100%;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
#background{
    height: 300px;
}
body {
    background-color: #c7c7ef; 
}
header {
    background-color:rgba(152, 223, 239, 0.7);
}
nav a:hover {
    background-color: rgb(70, 176, 246);
}
nav a:hover {
    background-color: rgb(232, 227, 227);
    color: #ec9017;
}
nav a {
    text-align: center;
    color: #16312d;
    text-decoration: none;
    padding-bottom: 5px;
} 
footer{
  margin-top: 50px;
  padding: 20px;
  background-color: #4db5a5;
  text-align: left;
  height: 220px;

}      
footer p {
    font-size: 1em;
    text-align: left;
  
} 
footer p a:hover {
    text-decoration: underline;
}
.book, .join {
  background-color: #d9c2a3;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  font-family: sans-serif;
}    
.card-img{
  border: 10px solid #d9c2a3;
  margin-bottom: 0;
}
.card-img, .icon{
  display:inline-block;
}
.card-img, h2{
  margin-top: 0%;
}
main section img {
  box-sizing: border-box;
}
.join {
  padding-bottom: 20px;
  position:relative;
  margin-top: 25px;
}
#background{
  background-color: palegoldenrod;
  margin-bottom: 50px;
}
.button-box{
  margin: 50px;
}
.mountains{
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-left: 0;  
}